.search-container {
    width: 100%;
    max-width: 600px;
}
.search-container button {
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 2px;
    margin-bottom: 20px;
    background: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.search-container button .active {
    padding: 10px;
    background: red;
}
.search-container .search-heading {
    margin-bottom: 10px;
}
.search-container h1 {
    color: #fff;
}
.search-container h1 .search-icon {
    margin-right: 19px;
    color: #fff;
    font-size: 28px;
}
